body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
}

#app {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#poll, #chat {
    border: 1px solid #ccc;
    padding: 20px;
    width: 45%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#poll-options, #chat-window {
    border: 1px solid #ccc;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fafafa;
}

#typing-indicator {
    font-style: italic;
    color: rgb(30, 222, 49);
}
